<!doctype html>
<html lang="en">
<head>
</head>
<body>
<div class="body">
    <div class="container">
        <div class="content">
            <h1 class="text-center">Demande de contact via : Le petit cactus</h1>
            <p>consulter la demande :</p>
            <a href="https://php-blog-oc.test/panel/request">https://php-blog-oc.test/panel/request</a>
        </div>
        <div class="content">
            ##MESSAGE##
        </div>
    </div>
</div>
</body>
</html>
